<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zixue.project3.dao.TableRegistChannelDao">


	<select id="geTableNodeDataSrcList" resultType="com.zixue.project3.bean.TableRegistChannel">
		SELECT
			t.id id,
			t.row_labels rowLabels,
			t.row_labels2 rowLabels2,
			t.user_registration_number userRegistrationNumber,
			t.user_registration_number2 userRegistrationNumber2,
			t.user_registration_number2_day userRegistrationNumber2Day,
			t.user_registration_number_max userRegistrationNumberMax,
			t.user_registration_number_min userRegistrationNumberMin
		FROM
			tb_node_data_src t
	</select>
	
</mapper>